<div id="footer">
  <footer class="text-center text-white">
    <div class="container pt-4">
      <section class="mb-4" >
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f" style="color: white !important;"></i></a>
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter" style="color: white !important;"></i></a>
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-google" style="color: white !important;"></i></a>
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram" style="color: white !important;"></i></a>
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin" style="color: white !important;"></i></a>
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark"><i class="fab fa-github" style="color: white !important;"></i></a>
      </section>
    </div>
    <div class="text-center text-dark p-3" style="color:white !important;  background-color: rgb(82, 23, 23);" >
      © 2024 Copyright:
      <a class="text-dark" href="#" style="color: white  !important;">Assessments</a>
    </div>
  </footer>

</div>