<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav item">
                <!-- <img src="./Images/logo.png" class="navbar-logo"> -->
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/aboutus']">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/assessments']">Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contactus']">Contact Us</a>
          </li>
          <li>

            
          </li>
          <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Login</button>
            </li>
        </ul>
        </ul>
      </div>
    </div>
  </nav>